.rightPane{
  width: 20%;
  height: 100vh;
}
.trends{
  width: 80%;
  margin: 10px auto;
  padding: 0px 0px 1px;
  background: #292929;
  color: #fff;
  border-radius: 10px;
}
.trends h2{
  padding: 10px 10px 0;
  font-size: 1em;
  margin-bottom: -10px;
}
.politics p{
  font-size: .7em;
  padding: 10px;
  color: #cccc;
}
.p-h3{
  font-size: .8em;
  padding: 10px;
  margin-top: -30px;
}
.p-tweets{
  margin-top: -30px;
}
.politics:hover{
  background: #303030;
    cursor: pointer;
}

.sports{
  margin-top: -15px;
}
.sports:hover{
  background: #303030;
    cursor: pointer;
}
.sports p{
  font-size: .7em;
  padding: 10px;
  color: #cccc;
}
.s-h3{
  font-size: .8em;
  padding: 10px;
  margin-top: -30px;
}
.s-tweets{
  margin-top: -30px;
}
.germany{
  margin-top: -15px;
}
.germany:hover{
  background: #303030;
    cursor: pointer;
}
.germany p{
  font-size: .7em;
  padding: 10px;
  color: #cccc;
}
.g-h3{
  font-size: .8em;
  padding: 10px;
  margin-top: -30px;
}
.g-tweets{
  margin-top: -30px;
}
.trends-btn{
  width: 100%;
  text-align: left;
  border: none;
  color: #338efc;
  background: transparent;
  padding: 10px
}
.trends-btn:hover{
  background: #303030;
  border-radius: 0 0 10px 10px;
    cursor: pointer;
}

  /* Who to follow Styling */
.userFollow img{
  border-radius: 1rem;
  margin: 0.3rem;
  height: 40px;
  width: 40px;
}

.follow{
  width: 80%;
  margin: 10px auto;
  padding: 0px 0px 1px;
  background: #292929;
  color: #fff;
  border-radius: 10px;
}
.follow h2{
    padding: 10px;
    font-size: 1em;
}
.userFollow{
    display: flex;
}
.userFollow:hover{
    background: #303030;
    cursor: pointer;
}
.follow-btn{
    width: 130px;
    height: 25px;
    padding: 5px;
    margin: 5px 5px 0 10px;
    border-radius: 20px;
    border: none;
    background: #fff;
    transition: .3s ease-in-out;
}
.follow-btn:hover{
    background: #29c3f7;
    color: #fff;
}
.user-name{
    font-size: 0.8em;
}
.nickName{
    font-weight: 100;
    color: #cccc;
    margin-top: -15px;
}

.footer{
    width: 100%;
    padding: 5px;
}
.policies{
    width: 90%;
    margin: auto;
  display: flex;
  color: #555454;
  font-size: .8em;
}
.policies p{
    margin: 2px;
}